*{
    padding: 0px;
    margin: 0px;
}
.outer{
    width: 710px;
    height: 910px;
    border: 20px solid blue;
    margin: 10px auto;
}
.outer h1{
    text-align: center;
}
p{
    font-size: 20px;
}
.border{
    width: 600px;
    padding: 2px;
    background-color: cadetblue;
    border: 1px solid black;
    font-weight: bold;
}
ul{
    font-size: 20px;
    margin-left: 20px;
}
h2{
    float: right;
}